@{
    Layout = null;
}
@model RegisterVM
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="~/admin/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/admin/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/admin/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Your Social Campaigns</p>
                                <form method="post">
                                    <div class="mb-3">
                                        <label asp-for="Name" class="form-label">Name</label>
                                        <input asp-for="Name" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Surname" class="form-label">Surname</label>
                                        <input asp-for="Surname" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Email" class="form-label">Email</label>
                                        <input asp-for="Email" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Username" class="form-label">Username</label>
                                        <input asp-for="Username" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Password" class="form-label">Password</label>
                                        <input asp-for="Password" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="RepeatPassword" class="form-label">RepeatPassword</label>
                                        <input asp-for="RepeatPassword" class="form-control">
                                    </div>
                                    <div class="text-danger" asp-validation-summary="ModelOnly">

                                    </div>
                                    <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                        <a class="text-primary fw-bold ms-2" asp-action="Login">Sign In</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>